$(document).ready(function() {
  var map = new google.maps.Map(document.getElementById('fullmap'), {
    zoom: 13
  });
  map.setCenter(new google.maps.LatLng(37.7833, -122.4167));
  var marker = new google.maps.Marker({
    map: map,
  });
  var infowindow = new google.maps.InfoWindow();
  placeMarker = function(location, id){
    var marker = new google.maps.Marker({
    map: map,
    position: location,
    customInfo: id
    });

    google.maps.event.addListener(marker, 'click', function(){
      $.ajax({
        type: 'GET',
        url: '/markers/show',
        data: {
          markerid: marker.customInfo
        }
      })
      .done(function(data){
        $('#fullmapdesc').html('<h5><i>' + data.title + '</i> by ' + data.artist + '<br>Address: ' + data.address + '</h5>')
      })
    })
  }

  placeAllMarkers= function(){
    $.ajax({
      url: '/markers'
    })
    .done(function(data){
      for(var place in data){
        var point = new google.maps.LatLng(data[place].latitude, data[place].longitude);
        placeMarker(point, data[place].id)
      }
    })
  }

  placeAllMarkers();


})