<%= javascript_include_tag 'shownearby/createmap.js'%>
<div id = "nearmap"></div>
<div id = "locationframe">
<%=render partial: "locations"%>
</div>
<div id = "mapdesc">'A' represents your current location, and 'B' represents your requested destination. </div>
