<%= javascript_include_tag 'artistsearch/createmap.js'%>

<div id = "artistmap"></div>
<div id = "artistresults">
<%@works.each do |item|%>
<p>
  <%=link_to item.title, item.title, class: "artname", data: {latitude: item.latitude, longitude: item.longitude}%>
</p>
<%end%>
</div>