<div class="wrapper">
  <div id="indexbox">
  <h1>Welcome to SF Open Art!</h1>
  <h3>SF Open Art is a whole new way to discover San Francisco's outdoor civic artwork. </h3>
  <br>
  <h3>Start exploring and searching for art with the tools above.</h3>
  </div>
</div>
