/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#logo {
  height:80px;
  width:auto;
  margin-left: 5px;
}

#logotd {
  text-align:left;
  width:10%;
}

#main {
  margin-top: 125px;
}

header {
  width:100%;
  height:100px;
  background-color: black;
  margin: 0px;
  top: 0;
  left: 0;
  right:0;
  position:fixed;
  z-index: 1;
  box-shadow: 10px 5px 5px #888888;
}

.menuitem {
  color: white;
  font-size: 1.1em;
  width: 20%;
  text-align: center;
}

.menuitem a, .menuitem a:visited, .menuitem a:link {
  text-decoration: none;
  color:white;
  padding: 25px;
}

.menuitem a:hover {
  outline: 2px solid white;
}

#menutable {
  height: 50px;
}

body {
  font-family: verdana;
}

a:link, a:visited {
  color: #0000cc;
}

.noclick {
  color: #0000cc;
  text-decoration: underline;
  cursor: pointer;
}