// Place all the styles related to the farsearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#resultmap {
  margin: auto;
  width: 60%;
  height: 500px;
  border: black solid 1px;
  float: left;
}

#results {
  width:35%;
  margin-top:15px;
  text-align: center;
  float:right;
}

#locations {
  width: 50%;
  float:right;
  margin-left: 10px;
}

#mapdesc {
  clear:left;
  width: 45%;
}

#nearmap {
  height: 500px;
  width: 45%;
  float:left;
  z-index: 0;
  margin-right:10px;
}

p {
  margin-top: 0px;
}

.selected {
  outline: 1px solid black;
}

.nearbylocation {
  padding: 5px;
}