// Place all the styles related to the shownearby controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#locations{
  width: 50%;
  float:right;
  margin-left: 10px;
}

#mapdesc{
  clear:left;
  width: 45%;
}

#nearmap{
  height: 500px;
  width: 45%;
  float:left;
  z-index: 0;
}

p{
  margin-top: 0px;
}

.selected{
  outline: 1px solid black;
}

.nearbylocation{
  padding: 5px;
}