// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  margin-left:-8px;
  margin-top:-25px;
  background-image: url("fountainedit.jpg");
  height: 100%;
  width:100%;
  position:absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  z-index: 1;
  text-align:center;
  color:white;
      text-shadow: 2px 2px black;

}

