<%= javascript_include_tag 'locations/pageinteractions.js'%>
<div id = "nearmap"></div>
<div id = "locationframe">
<%=react_component("ResultList")%>
</div>
<div id = "mapdesc">'A' represents your current location, and 'B' represents your requested destination. </div>
