<%= javascript_include_tag 'locations/locationsearchscript.js'%>
<div id= "resultmap"></div>
<div id= "results">
  <%=react_component("LocationSearches", {results:@results , hasresults:@hasresults})%>
</div>
